.root {
  @apply relative w-full h-full;
  overflow-y: hidden;
}

.leftControl,
.rightControl {
  @apply absolute top-1/2  z-20 w-16 h-16 flex items-center justify-center bg-hover-1 rounded-full;
}

.leftControl:hover,
.rightControl:hover {
  @apply bg-hover-2;
}

.leftControl:hover,
.rightControl:hover {
  @apply outline-none;
}

.leftControl {
  @apply bg-cover left-10;
  background-image: url("/cursor-left.png");

  /* @screen md {
    @apply left-6;
} */
  @apply md:left-6;
}

.rightControl {
  @apply bg-cover right-10;
  background-image: url("/cursor-right.png");

  /* @screen md {
    @apply right-6;
  } */
  @apply md:right-6;
}

.control {
  @apply opacity-0 transition duration-150;
}

.root:hover .control {
  @apply opacity-100;
}

.positionIndicatorsContainer {
  @apply hidden;

  @screen sm {
    transform: translateX(-50%);
  }
  @apply sm:block sm:absolute sm:bottom-6 sm:left-1/2;
}

.positionIndicator {
  @apply rounded-full p-2;
}

.dot {
  @apply bg-hover-1 transition w-3 h-3 rounded-full;
}

.positionIndicator:hover .dot {
  @apply bg-hover-2;
}

.positionIndicator:focus {
  @apply outline-none;
}

.positionIndicatorActive .dot {
  @apply bg-white;
}

.positionIndicatorActive:hover .dot {
  @apply bg-white;
}
