.root {
  @apply relative;
  /* max-height: 100% !important; */

  &:hover {
    & .productBg:before {
      transform: scale(0.99);
    }

    & .productImage {
      transform: scale(1.15);
    }
  }

  &:nth-child(6n + 1) .productBg {
    @apply bg-violet;
  }

  &:nth-child(6n + 3) .productBg {
    @apply bg-pink;
  }

  &:nth-child(6n + 5) .productBg {
    @apply bg-blue;
  }

  &:nth-child(6n + 6) .productBg {
    @apply bg-cyan;
  }
}

.productImage {
  @apply transition-transform duration-500 block;
}

.productBg {
  @apply absolute inset-0 z-0;
  background-color: #212529;

  &:before {
    @apply transition-transform duration-500 block w-full h-full bg-repeat-space;
    content: "";
    background-image: url("/product-pattern-bg.svg");
  }
}

.productTag {
  @apply absolute top-0 left-0;
  z-20 & > * {
    font-size: 2rem;
    letter-spacing: 0.4px;
  }
}

.productTitle {
  @apply font-bold;
  line-height: 2.2em;

  & span {
    @apply py-4 px-6 bg-primary;
    box-decoration-break: clone;
  }
}

.productPrice {
  @apply bg-primary pb-4 pt-2 px-6 font-semibold text-sm;
  letter-spacung: 0.4px;
}
