.root {
  @apply grid gap-0 grid-cols-1;

  @apply lg:grid-cols-3 lg:grid-rows-2;

  & > * {
    @apply row-span-1 overflow-hidden;
    max-height: 800px;

    @screen lg {
      height: inherit;
      max-height: 100%;
    }
  }
}

.layoutA {
  & > *:nth-child(6n + 1),
  & > *:nth-child(6n + 5) {
    /* @media screen(lg) {
      @apply col-span-2 row-span-2;
    } */

    @apply lg:col-span-2 lg:row-span-2;
  }
}

.layoutB {
  & > *:nth-child(6n + 2),
  & > *:nth-child(6n + 4) {
    @apply lg:col-span-2 lg:row-span-2;
  }
}
